.typewriter{
    letter-spacing: 10px;
    border-right: 5px solid ;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(18),
        cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from{ width: 0;}
}
.test{
    display: inline-block;
}